body {
  height: 100%;
  width: 100%;
}
.index{
  background: url('../images/curtain.jpg') no-repeat center center;
  text-align:center;
}
.product{
  background: url('../images/curtain2.png') no-repeat center center;
  text-align:center;
}
.contact{
  background: url('../images/curtain3.png') no-repeat center center;
  text-align:center;
}
.order{
  background: url('../images/curtain4.png') no-repeat center center;
  text-align:center;
}
nav{
  text-align:center;
  color:black;
}
h2{
  color:white;
}
h3{
  color:white;
}
.dongl{
  color:white;
}
p{
  font-size:20px;
  color:white;
}
nav ul li{
  font-size:20px;
}
.ore{
  color:white;
}
.pro{
  color:white;
}